# node & SvelteKit
node_modules

# Go 
dist

# dev data 
mongo

# git
.gitcredentials

# macOS 
.DS_Store

# httpBin executables
/tmp
app
./app

# direnv env vars tool
.envrc 
# env vars
.env

# tailwind
tailwindcss
static/css/style.css

# sqlite
database.db